@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0px;
  padding: 2px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

button {
  margin: 1rem 0;
  padding: 4px 32px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

button:hover {
  background-color: rgb(223, 221, 221);
}

button:active {
  background-color: rgb(201, 200, 200);
}

select {
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-products {
  margin-top: 50px;
  font-size: 28px;
  text-align: center;
}
